@import 'https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap';

* {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  display: inline-block;
  color: var(--text-link);
  text-decoration: none;
  cursor: pointer;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  color: var(--text-link-hover);
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  margin-left: 12px;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;

  ::-webkit-search-decoration,
  ::-webkit-search-cancel-button,
  ::-webkit-search-results-button,
  ::-webkit-search-results-decoration,
  ::-ms-clear {
    display: none;
  }
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

[type='number'] {
  appearance: textfield;
}

button,
input {
  display: inline-block;
  cursor: pointer;
  background: none;
  background-color: transparent;
  box-shadow: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition-delay: 9999s;
  transition-property: background-color, color;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
}
