.product-card {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 0.75rem;
  width: max-content;
  max-width: 250px;
  height: max-content;
  padding: 1.5rem;
  cursor: pointer;
  background-color: var(--base-01);
  border-radius: 1.5rem;
  box-shadow: 0 0.25rem 1.25rem #0000001a;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 0.5rem 2rem rgb(0 0 0 / 15%);
    transform: translateY(-4px);
  }
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--base-primary);
  white-space: nowrap;
}

.price {
  color: var(--text-02);
}

.image {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  background-color: var(--base-02);
  border-radius: 1rem;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.02);
  }
}
