%default-text {
  font-weight: 500;
  color: var(--text-color, var(--text-01));
  letter-spacing: 0;
  transition: color 0.2s ease-in-out;
}

.bold {
  font-weight: 800;
}

.heading-1 {
  @extend %default-text;

  font-size: 50px;
  line-height: 56px;
}

.heading-2 {
  @extend %default-text;

  font-size: 44px;
  line-height: 48px;
}

.heading-3 {
  @extend %default-text;

  font-size: 36px;
  line-height: 40px;
}

.heading-4 {
  @extend %default-text;

  font-size: 28px;
  line-height: 32px;
}

.heading-5 {
  @extend %default-text;

  font-size: 24px;
  line-height: 28px;
}

.heading-6 {
  @extend %default-text;

  font-size: 20px;
  line-height: 24px;
}

.body-xl {
  @extend %default-text;

  font-size: 19px;
  line-height: 28px;
}

.body-l {
  @extend %default-text;

  font-size: 17px;
  line-height: 28px;
}

.body-m {
  @extend %default-text;

  font-size: 15px;
  line-height: 24px;
}

.body-s {
  @extend %default-text;

  font-size: 13px;
  line-height: 20px;
}

.body-xs {
  @extend %default-text;

  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.4px;
}
